@using WEB_EF.Models.Entities;
@model IEnumerable<CarType>;

<div class="text-center">
    <h1 class="display-4">Car types</h1>    
</div>
@Html.ActionLink("Add", "Create")
@(ViewData["Message"] ?? string.Empty)
    <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Cars amm</th>
                <th>Places amm</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var type in Model)
            {
                <tr>
                    <td>@type.Id</td>
                    <td>@type.TypeName</td>
                    <td>@type.Cars.Count()</td>
                    <td>@type.ParkingPlaces.Count()</td>
                    <td>@Html.ActionLink("Edit", "Edit", "CarTypes", new {id = type.Id}, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "CarTypes", new {id = type.Id}, null)</td>
                </tr>
            }
    </table>   